.headings{
    font-family: math;
    display: flex;
    flex-direction: column;
    margin-left: 19vw;
    
}
hr{
    background-color: rgb(203, 156, 53);
    height: 4px;
}
section h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.headings h1,h2{
    font-family: monospace;
    margin-bottom: -19px;
}
.img{
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.img img{
    height: 32vh;
    width: 18vw;
    margin-bottom: 5px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section p{
    width: 60vw;
    font-weight:lighter;
}